/* src/components/Navbar.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Adjust the background color as needed */
  position: relative;
  height: 70px;
}
/* src/components/Navbar.css */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  margin-right: 10px; /* Add margin between the logo and text, adjust as needed */
}

.logo-text {
  text-transform: uppercase;
  position: absolute;
  font-size: 20px; /* Adjust the font size as needed */
  left: 90px; /* Remove default margin on h1 */
  background: linear-gradient(to right, #093148, #7da0d4); /* Adjust the gradient colors as needed */
  -webkit-background-clip: text;
  color: transparent;
  word-spacing: -3px;
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 50px;
}

ul li {
  margin: 0;
}

ul li a {
  text-decoration: none;
  color: #000000; /* Adjust the text color for navigation links */
  font-weight: 100;
  font-size: 19px;
  position: relative;
  transition: color 0.3s ease;
}

ul li a::after {
  content: "";
  position: absolute;
  width: 0; /* Set initial width to 0 */
  height: 2px; /* Adjust the underline height as needed */
  bottom: -4px;
  left: 0;
  background-color: transparent; /* Initial background color (invisible) */
  transition: width 0.3s ease; /* Transition the width property */
}

ul li a:hover {
  color: #3498db; /* Adjust the hover color for navigation links */
}

ul li a:hover::after {
  background-color: #3498db; /* Adjust the hover underline color */
  width: 100%;
}

.button-container {
  display: flex;
  gap: 15px;
}

.login-button{
padding: 10px 30px;
  border: 2px solid #2980b9;
  background-color: #fff;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #2980b9;
  font-size: 17px;
}
.signup-button{
  padding: 10px 30px;
  border: 2px solid #2980b9;
  background-color: #2980b9;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
  font-size: 17px;
}


.login-button:hover {
  background-color: #2980b9; /* Adjust the hover background color for buttons */
  color: #fff;
}

.signup-button:hover{
background-color: #fff;
color:#2980b9;
}

