.widget-large {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: var(--bgSoft);
  border-radius: 10px;
}
.widget-large-title {
  font-size: 22px;
  font-weight: 60;
  margin: 0;
  color: var(--text);
}
.widget-large-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.widget-large-table {
  width: 100%;
  border-spacing: 20px;
}
.widget-large-btn {
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
}
.widget-large-table-head {
  text-align: left;
  color: var(--textSoft);
}
.widget-large-table-user {
  display: flex;
  align-items: center;
  font-weight: 100;
}

.widget-large-username{
  color: var(--text);
}
.widget-large-table-date,
.widget-large-table-amount {
  font-weight: 300;
  color: var(--text);
}
.widget-large-btn.Approved {
  background-color: #038352;
}
.widget-large-btn.Decline {
  background-color: #ff808a;
}
.widget-large-btn.Pending {
  background-color: #7ca6fa;
}
